.main {
  display: flex;
  min-height: screen;
  flex-direction: column;
}

.main_panel {
  display: flex;
  height: 5rem;
  flex-shrink: 0;
  align-items: flex-end;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 112 243 / var(--tw-bg-opacity, 1));
  padding: 1rem;
}

@media (width >= 768px) {
  .main_panel {
    height: 13rem;
  }
}
